[user]
	name=kintrix
	email=sourcehut.ungraded024@passmail.net
[pull]
	rebase=true
[init]
	defaultBranch=master
[core]
	autocrlf=input
[alias]
	unstage=restore --staged
[merge]
	tool=nvimdiff3
	guitool=meld
	conflictStyle=zdiff3

[re.sonny.Commit]
	title-length-hint=50
	body-length-wrap=72
	auto-capitalize-title=true
