# .gitignore

Backups/
Cache/
CachedConfigurations/
CachedData/
CachedExtensionVSIXs/
CachedExtensions/
Code Cache/
Cookies
Cookies-journal
Crash Reports/
Crashpad/
GPUCache/
Local Storage/
Network Persistent State
QuotaManager
QuotaManager-journal
Service Worker/
Session Storage/
TransportSecurity
blob_storage/
databases/
exthost Crash Reports/
fileWatcher/
languagepacks.json
logs/
machineid
storage.json
watcherServiceParcelSharedProcess/

# User/
User/globalStorage/
User/History/
User/workspaceStorage/
