# .gitignore

# Ignore all directories except 'User/'
Backups/
blob_storage/
Cache/
CachedExtensions/
CachedData
CachedConfigurations
CachedExtensionVSIXs/
Code Cache/
code.lock
Cookies
Cookies-journal
Crash Reports/
Crashpad/
databases/
Dictionaries/
GPUCache/
languagepacks.json
Local Storage/
logs/
machineid
Network Persistent State
Preferences
Service Worker/
Session Storage/
storage.json
TransportSecurity
WebStorage/

# User/
User/globalStorage/
User/History/
User/workspaceStorage/
