# .gitignore

# Ignore all directories except 'User/'
Backups/
Cache/
CachedConfigurations
CachedData
CachedExtensionVSIXs/
CachedExtensions/
CachedProfilesData/
Code Cache/
Cookies
Cookies-journal
Crash Reports/
Crashpad/
DawnCache/
DawnGraphiteCache/
DawnWebGPUCache/
Dictionaries/
GPUCache/
Local Storage/
Network Persistent State
Preferences
Service Worker/
Session Storage/
Shared Dictionary/
SharedStorage
TransportSecurity
Trust Tokens
Trust Tokens-journal
WebStorage/
blob_storage/
code.lock
databases/
languagepacks.json
logs/
machineid
storage.json

# User/
User/globalStorage/
User/History/
User/workspaceStorage/
User/sync/
